RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]

# Quando ocorrer o erro 403, redirecione o usuario.
ErrorDocument 403 https://aurymarques.com.br

# Não lista diretório
Options -indexes

# Bloquear o acesso ao arquivo .env com o arquivo .htaccess
<Files .env>
	Order allow,deny
	Deny from all
</Files>